*{
    margin: 0;
    padding: 0;
}

header{
    background-color:blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
  

}
main{
   margin-top: 16px;
}
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 50px;
}
#section1{
    background-color: beige;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}
image{
    
}